<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>260244857796-q9eocs401086u8u6na808l67k910jci5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260244857796-q9eocs401086u8u6na808l67k910jci5</string>
	<key>API_KEY</key>
	<string>AIzaSyAzLjpPC5OefuF4NCWv7Iriqe5gzKsTS6I</string>
	<key>GCM_SENDER_ID</key>
	<string>260244857796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sponti.CloudCameraTTT</string>
	<key>PROJECT_ID</key>
	<string>cloudcamerattt</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudcamerattt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:260244857796:ios:a7bc3c2e3fe7d5f3</string>
	<key>DATABASE_URL</key>
	<string>https://cloudcamerattt.firebaseio.com</string>
</dict>
</plist>